---
import LogoCAD from "../logo-CAD.astro";
---
<style>
    button{
        /* background: #0062a7; */
        transition: all ease 0.3s
    }
    #button-action-hero:hover{
        /* background: #00aeff; */
    }
</style>
<header class="bg-zinc-900 flex flex-col md:flex-row  md:flex-row p-20 gap-3 text-left text-center md:text-left rounderd-xl ">
    <div class="flex-1">
        <h1 class="text-5xl font-bold pb-2">Change Something Rigth Now!</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora deserunt amet illum, aliquam eum pariatur ipsum possimus soluta.</p>
        <button id="button-action-hero " class="px-20 py-2 bg-sky-600 hover:bg-sky-400 rounded-sm " >
            Run it up!
        </button >
    </div>
    <div class="flex-1 " style="align-self: center;" >
        <LogoCAD zoom="2.5" theme="white" theme_text="#00aeff"></LogoCAD>
    </div>
    
    <!-- <img src="imgs/hero-img.svg" alt="" class="w-80"> -->
</header>
