---
  interface Props{
  fontsize?: string
}

const {fontsize}= Astro.props;
---


<style>
  .toggle{
    font-size: 2rem;
    border: 0.125em solid silver;
    border-radius: 2em;
    cursor: pointer;
    display: flex;
    height: 2em;
    position: relative;
    width: 3.75em;
    /* translate: 45vw 0%; */
    margin-left: 45vw;   
  }
  .toggle span {
    background-color: currentColor;
    border-radius: 2em;
    display: block;
    height: 1.5em;
    left: .25em;
    overflow: hidden;
    position: absolute;
    top: .25em;
    text-indent: -9999px;
    transition: left .25s;
    width: 1.5em;
    z-index: 2;
  }
  
  .toggle::before,
  .toggle::after {
    content: '';
    display: block;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
  }
  
  .toggle::after {
    box-shadow: .25em .25em #5901d8;
    height: 1.125em;
    right: .9em;
    top: .125em;
    width: 1.125em;
  }
  
  .toggle::before {
    background-color: #ffc409;
    height: .625em;
    outline: .25em dotted #ffc409;
    outline-offset: .125em;
    left: .7em;
    top: .7em;
    width: .625em;
  }
  
  input:checked ~ .toggle span {
    left: 2em;
  }
  
                          
  .sr-only {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  
  
  body:has(#darkmode-toggle:checked) {
    background-position: 100% 100%;
    color: #d0d0d0;
  }
  </style>
  

<input  type="checkbox"   class="sr-only"   id="darkmode-toggle"
>
<label for="darkmode-toggle" class="toggle" style=`font-size: ${fontsize}`>
  <span>Toggle dark mode</span>
</label>
</input>
