---
import Logocad from '../components/logo-CAD.astro'
---

<div class="hero">
  <div class="hero-left">
    <div class=cont-comp-cat>        
        <!-- Result -->  
        <iframe id="result"></iframe>
      <!-- <Logocad class='logocad-styles'><Logocad />  -->
    </div>
    <h1>Bienvenido a mi sitio web</h1>
    <button class="btn btn-primary">Accion</button>
  </div>
  <div class="hero-right">
    <!-- Editor -->
    <textarea id="code-input"></textarea>
     <!-- <pre><code> -->
  </div>
</div>

<!-- edito and  result logical -->
<script>
    const codeInput = document.getElementById('code-input');
const result = document.getElementById('result');

codeInput.addEventListener('input', runCode);

function runCode() {

  // Get input value
  const code = codeInput.value; 
  
  // Create iframe document
  const doc = result.contentDocument;
  doc.body.innerHTML = '';
  
  // Add HTML
  doc.body.innerHTML = code;
  
  // Add CSS
  const styleTag = doc.createElement('style');
  styleTag.textContent = addCSS();
  doc.head.appendChild(styleTag);

  // Add JS 
  const scriptTag = doc.createElement('script');
  scriptTag.textContent = addJS();
  doc.body.appendChild(scriptTag);

}
function addCSS() {
  // Return CSS input value
}

function addJS() {
  // Sandbox JS code and return
}
</script>

<style>    
  .hero {
    display: flex;
  }
  .cont-comp-cat{
    display
  }
  .hero-left {
    flex: 1;
    padding: 20px;
  }
  
  .hero-right {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }

  #code-input {
  width: 50%;
  height: 300px;
}

#result {
  width: 50%;
  height: 300px;
}
</style>
