---
import Logocad from '../components/logo-CAD.astro'
---
<style>    
	.hero {
	  display: flex;
	}
	.cont-comp-cat{
	  
	}
	.hero-left {
	  flex: 1;
	  padding: 20px;
	}
	
	.hero-right {
	  flex: 1;
	  padding: 20px;
	  background-color: #f0f0f0;
	}
  
	#code-input {
	width: 50%;
	height: 300px;
  }
  
  #result {
	width: 50%;
	height: 300px;
  }
  
  </style>

<div class="hero">
  <div class="hero-left">
    <div class=cont-comp-cat>        
        <!-- Result -->  		
        <!-- <iframe id="result"></iframe> -->
      <Logocad ><Logocad /> 
    </div>
    <h1>Bienvenido a mi sitio web</h1>
    <button  class="btn btn-primary">Accion</button>
  </div>
  <div class="hero-right">
    <!-- Editor -->
    
    <!-- <textarea id="code-input"></textarea> -->
     <!-- <pre><code> -->   
  </div>
</div>


